extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Tsipporah Christopher

        p Full Stack JavaScript Developer

        img(src='/static/img/profile-pic2.jpg' alt='profile pic at google' style='width:600px; height:350px;')


        .about-bio

          p In the last 6 years, I contributed significantly to the growth and development of the English and Science department made up of over 900 Japanese highschool students.  I spearheaded a new "Science in English" Technology curriiculum to fit student needs by assessing their strengths and limitations. The course increase their computer literacy skills by conducting science labs and rocket simulations in english.  Secondly, I drove the development of collaborative language exchange programs and built partnerships with schools and Japan, USA, South Africa, and Korea by utilizing technologies such as Flipgrid, Microsoft Teams and Zoom.

          img(src='/static/img/profile-pic3.jpeg' alt='profile pic at google' style='width:600px; height:350px;')

          p As a result of my curriculum, students were able to make friends from all over the world and experience the role of technology and broadening and gaining a greater understanding of the world.  By facilitating this cross-cultural technology centered experience, I realize I wanted to have a say in the development of technologies that are shaping the minds of our students and I want to use technology to bring the world closer and provide opportunities to all. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 562-283-4204
          li tsipporahc @ gmail.com

        a.btn-link(href='https://www.linkedin.com/in/tsipporahc/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/tsipporahc' target='_blank') GitHub
        a.btn-link(href='https://twitter.com/tsipporahc' target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back