extends layout.pug

block content

  article.portfolio-intro

    h1 Welcome to my Portfolio!

    p This portfolio gallery is a collection of projects I have worked on. If you are interested in learning more about these projects, or if you are would like collaborate on future projects, please feel free to reach out to me! ✌🏾


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5= project.project_name

