<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='../static/img/profile-pic.png', alt='Profile Pic')
        .dev-intro-box

          h5 Tsipporah Christopher

          p A Software Engineer that uses her background in cross-cultural communication skills to approach problem solving from a client-centered perspective. I aim to develop universally applicable and equitable solutions to the ever-evolving financial and health technology sectors in order to shape the future of wellness.

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Tsipporah Christopher

      block content

  script(src='/static/js/script.js')